@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    font-weight: v.$black;
    text-align: center;
    border-radius: 0.8rem;

    &.error {
      background-color: v.$rojo;
    }

    &.exito {
        background-color: v.$verde;
    }
}